<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bicicletario</title>
</head>
<body>
    <h1> Bicicletário - Área do Ciclista </h1>

        <h1>Retorno: {{ resultado }}</h1>

</body>
</html>